doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://js.pusher.com/4.4/pusher.min.js')
    //script(src='/javascripts/pusher-client.js')
  body
    block content
